* { 
margin:0;
padding:0;
}
.header{
        position: fixed;
        height: 1px;
        text-shadow: 2px;
        text-align: center;
        text-overflow: ellipsis;
        text-decoration-color: aliceblue;
        width: 1px;
        
    }
.footer{
padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 1;
    }
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(page.png);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: auto;
}


body{
    padding: 0px;
    perspective: 200px;
overflow-y: auto;
}
.nav{
padding: 2% 6%;
display: flex;
align-items: center;
justify-content: space-between;
overflow-y:auto ;
}

.lg{
    
    width: 1000px;
    cursor: pointer;
    animation: reverse;
    animation-duration: 30s;
left: 20%;
right: 50%;
       
    
    

}
.nav-link{
     flex: 1;
     text-align: right;
     
}
.nav-link ul li {
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-link ul li a{
text-decoration: none;  
color: aliceblue;
text-transform: uppercase;
font-size: 20px;    


}
.nav-link li::after{
    content: '';
    height: 2px;
    width: 0px;
    background:yellowgreen;
    position: absolute;
    margin: auto;
    left: 0;
 bottom:-1%;
transition: 0.5s;


}
.nav-link ul li:hover::after{
    width: 100%;
    
}


.content h1{

text-decoration: underline;
left: 50%;
bottom: 80%;
cursor:pointer;
text-transform:uppercase ;
font-size: 50px;
-webkit-text-fill-color: black;

text-align: center;                  
}
.content pre{
font-size: 20px;
}
.pre h3{
    text-justify: center;

}

.button{
    width: 200px;
    padding: 15px 0px;
    text-align:right;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    background: transparent;
    color: bisque;
    cursor: pointer;
    position: relative;
overflow: hidden;
}
.span{
background: gray;
height: 100%;
width: 100%;
border: 15px;
position: absolute;
left: 0px;
z-index: -1;
text-transform: center;

}
button:hover span{
    width:100%
}